<div ng-controller="IndexCtrl">
	<div class="row">
		<div class="col-xs-hidden col-sm-2 col-md-4"></div>
		<div class="col-xs-12 col-sm-8 col-md-4">
			<div class="panel panel-primary">
				<div class="panel-heading text-center">
					<span class="h3" ng-bind="$root.AppTitle"></span>
				</div>
				<div class="panle-body">
					<img src="images/UnderConstruction.jpg"
						class="img-responsive center-block" />
				</div>
			</div>
		</div>
		<div class="col-xs-hidden col-sm-2 col-md-4"></div>
	</div>
</div>


